
<%
tax_groups = list(database.get_tax_groups())
%>

<h1>Configure Accounts</h1>

% for account in accounts:
<h2>{{account}}</h2>
<p>
  <label for="accounts/{{account}}|description">Description: </label>
  % info = database.get_account_info(user_token, account)
  % description = info.description if info is not None and info.description is not None else ''
  <input type="text" name="accounts/{{account}}|description" value="{{description}}" />
</p>

<p>
  <label for="accounts/{{account}}|tax_group">Tax Group: </label>
  <select name="accounts/{{account}}|tax_group">
    % for (tax_group, _) in tax_groups:
    % selected = info is not None and tax_group == info.tax_status
    <option value="{{tax_group}}" {{!'selected="selected"' if selected else ''}}>{{tax_group}}</option>
    %end
    <option value="IGNORE" {{!'selected="selected"' if info is None else ''}}>Ignore</option>
  </select>
</p>

<h2>Default Accounts</h2>
% for (tax_group, _) in tax_groups:

<p>
  <label for="default_tax_group_account/{{tax_group}}">{{tax_group}}: </label>
  <select name="default_tax_group_account/{{tax_group}}">
      <option value=""></option>
  % for account in accounts:
  % info = database.get_account_info(user_token, account)
  % description = info.description if info is not None and info.description is not None else ''
  % if info.tax_status == tax_group:
      <option value="{{account}}" {{!'selected="selected"' if info.is_default != 0 else ''}}>{{description}}</option>
  % end
  % end
  </select>
</p>

% end
