<!DOCTYPE html>

<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>
<title>Account Configuration</title>
<body>

<p>
  <a href="/">Go Home</a>
</p>

<form action="/configure/update" method="post" enctype="multipart/form-data">

<input type="hidden" name="user_token" value="{{user_token}}" />

<%
asset_ids = dict(database.get_asset_abbreviations())
securities = session.get_securities_db()
account_target = session.get_account_target()
unsorted_assets = set()

for entry in session.get_account_entries():
    try:
        asset = securities.get_asset_class(entry.symbol)
        unsorted_assets.add(asset)
    except KeyError:
        pass
    end
end

unsorted_assets.update(account_target.get_asset_targets().keys())

assets = sorted(unsorted_assets, key=lambda x: asset_ids[x])
asset_sales_mask = account_target.get_asset_sales_mask()
%>

% include('www/templates/account_config_editor.tmpl', account_entries = session.get_account_entries(), database = database)
% include('www/templates/target_asset_editor.tmpl', account_target = session.get_account_target(), assets = assets, database = database)
% include('www/templates/asset_editor.tmpl', account_target = session.get_account_target(), database = database)

<input type="submit" value="Update Config" />
</form>

</body>
</html>