<!DOCTYPE html>

<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>
<title>Account Configuration</title>
<body>

<%
from decimal import Decimal
from collections import OrderedDict
from rebalance import *

with Database() as db:
tax_groups = list(db.get_tax_groups())
%>

<form action="/account_config/update" method="post" enctype="multipart/form-data">

<input type="hidden" name="user_token" value="{{user_token}}">

<h1>Configure Accounts</h1>

% for account in accounts:
<h2>{{account}}</h2>
<p>
  <label for="{{account}}|description">Description: </label>
  % info = db.get_account_info(user_token, account)
  <input type="text" name="{{account}}|description" value="{{info.description if info is not None else ''}}" />
</p>

<p>
  <label for="{{account}}|tax_group">Tax Group: </label>
  <select name="{{account}}|tax_group">
    % for (tax_group, _) in tax_groups:
    % selected = info is not None and tax_group == info.tax_status
    <option value="{{tax_group}}" {{!'selected="selected"' if selected else ''}}>{{tax_group}}</option>
    %end
    <option value="IGNORE" {{!'selected="selected"' if info is None else ''>Ignore</option>
  </select>
</p>



% end
<input type="submit" value="Update Accounts" />
</form>

% end

</body>
</html>