
<!DOCTYPE html>

<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>
<title>Tax Affinity Configuration</title>
<body>

% include('templates/asset_editor.tmpl')

<p>
  <a href="/">Go Home</a>
</p>

</body>
</html>