<!DOCTYPE html>

<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>
<title>Account Configuration</title>
<body>

<form action="/config/update" method="post" enctype="multipart/form-data">

<input type="hidden" name="user_token" value="{{user_token}}" />

% include('templates/account_config_editor.tmpl', account_entries = session.get_account_entries(), db = db)
% include('templates/target_asset_editor.tmpl', account_target = session.get_account_target(), portfolio = session.get_portfolio(), database = db)
% include('templates/asset_editor.tmpl', account_target = session.get_account_target(), db = db)

<input type="submit" value="Update Config" />
</form>

<p>
  <a href="/">Go Home</a>
</p>

</body>
</html>