
<%
from decimal import Decimal

target_percentages = account_target.get_target_asset_percentages()
%>

<!DOCTYPE html>

<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>
<title>Rebalance Results</title>
<body>

<h1>Configure Target Positions</h1>

<form action="/target_config/update" method="post" enctype="multipart/form-data">

<input type="hidden" name="user_token" value="{{user_token}}">

% for asset in assets:
<p>
    % target = target_percentages.get(asset)
    <label for="allocation|{{asset}}">{{asset}}: </label>
    <input name="allocation|{{asset}}" type="number" step=".1" value="{{target * 100 if target is not None else ''}}">
</p>

% end

<input type="submit" value="Update" />

</form>

<p>
  <a href="/">Go Home</a>
</p>

</body>
</html>